.login-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  
    .login-left {
      flex: 1;
      background-color: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .illustration {
        max-width: 80%;
        height: auto;
      }
    }
  
    .login-right {
      flex: 1;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
      .login-box {
        width: 80%;
        max-width: 350px;
        text-align: center;
  
        .logo {
          width: 140px;
          margin-bottom: 1rem;
        }
  
        h2 {
          margin-bottom: 2rem;
          font-size: 1.2rem;
          color: #333;
        }
  
        form {
          display: flex;
          flex-direction: column;
  
          .input {
            margin-bottom: 1rem;
            padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.9rem;
          }

          .eye-button {
            background: transparent !important;
            border: none;
            box-shadow: none;
            margin-right: 0.25rem;

            mat-icon {
              color: rgba(0, 0, 0, 0.54);
            }

            &:hover {
              background-color: transparent;
            }
          }
  
          .btn {
            padding: 0.8rem;
            background-color: #ff6600;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 1.2rem;
  
            &:hover {
              background-color: #e65c00;
            }
          }
        }
  
        .divider {
          margin: 1rem 0;
          color: #666;
          font-size: 0.9rem;
        }
  
        .btn-secondary {
          background-color: #0c49a1;
          color: white;
          padding: 0.8rem;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
          margin-bottom: 1.2rem;
  
          &:hover {
            background-color: #093b85;
          }
        }
  
        .register {
          font-size: 0.9rem;
  
          a {
            color: #ff6600;
            text-decoration: none;
            font-weight: bold;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;
          font-size: 0.75rem;
          color: #666;
  
          img {
            width: 100px;
          }
        }
      }
    }
  }
  